 * {
    box-sizing: border-box;
  }
  
  body {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
    color: #333;
    margin: 0;
  }
  
  header {
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    margin-top: -5px;
    text-align: center;
    background: #ffffff;
    border-color: #cccccc;
    border-style: solid;
  }
  
  section {
    padding: 20px;
    margin-bottom: 20px;
    background: #FFA500;
  }
  
  #left {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding-left: 20px;
    font-size: 35px;
    float: left;
    width: 13%;
    color: #fff;
    background: #30948D;
  }
  
  #middle {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 20px;
    float: right;
    width: 10.22%;
    background: white;
  }

  #second {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 20px;
      float: right;
      width: 10.22%;
      background: white;
  }
  
  #right {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 20px;
    float: right;
    width: 10.22%;
    background: white;
  }
  
  #full {
    width: 100%;
    overflow: auto;
    clear: both;
align-content: center;
    color: #777777;
    border-style: solid;
    border-color: #dddddd;
    background: #ffffff;
  }
  
  #division {
    padding: 20px;
    margin-top: 20px;
    background: #ffffff;
  }
  
  aside {
    float: left;
    width: 33%;
    height: 200px;
    padding: 20px;
    margin-left: 20px;
  }
  
  footer {
    border-top: 8px solid #4aaaa5;
    padding: 20px;
    clear: both;
    background: #666666;
  }
  