/*---------Classes*/

/*To fix float*/
.container{
    width: 960px;
    justify-content: center;
    margin: auto;
}
.clearfix {
    overflow: auto;
}

/* Navigation */

.navbar {
    overflow: visible;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 100px;
    background: white;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/*-----------elements*/

body {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
    color: #333;
    background-image: url("../images/back.png");
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    text-align: center;
    background: #ffffff;
    border-color: #cccccc;
    border-style: solid;
}

section {
    padding: 20px;
    margin-bottom: 60px;
    background: url("/Assets/images/back.png");
}

.foo {
    float: left;
    height: 200px;
    padding: 20px;
    margin-left: 20px;
}

footer {
    border-top: 8px solid #4aaaa5;
    padding: 20px;
    text-align: center;
    clear: both;
    background: #666666;    
    text-decoration: none;

}

/* Sticky Footer */

.sticky {
    overflow: visible;
    position: -webkit-sticky;
    position: fixed;
    bottom: 0;
    height: 100px;
    background: white;
    /* margin: 20px; */
    width: 100%;
}

/*---------change to classes*/

#name {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding-left: 40px;
    margin: 20px;
    font-size: 35px;
    float: left;
    width: 13%;
    color: #fff;
    background: #30948D;
}

#contact {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 20px;
    float: right;
    background: white;
}

#port {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 20px;
    float: right;
    background: white;
}

#about {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 20px;
    float: right;
    background: white;
}

#full {
    width: 100%;
    overflow: auto;
    align-content: center;
    color: #777777;
    border-style: solid;
    border-color: #dddddd;
    background: yellow;
}

.divsion {
    overflow: auto;
    margin: 80px;
    float: clear;
    background: #ffffff;
}