 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
    color: #333;
  }
  
  header {
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -5px;
    text-align: center;
    background: #ffffff;
    border-color: #cccccc;
    border-style: solid;
  }
  
  section {
    padding: 20px;
    margin-bottom: 20px;
    background: #FFA500;
  }
  
  #left {
    float: left;
    width: 50%;
    color: #fff;
    background: #30948D;
  }
  
  #middle {
    float: right;
    width: 16.22%;
    color: #fff;
    background: #9E1212;
  }

  #second {
      float: right;
      width: 16.22%;
      color: white;
      background: purple;
  }
  
  #right {
    float: right;
    width: 16.22%;
    color: #fff;
    background: #30948D;
  }
  
  #full {
    width: 100%;
    overflow: auto;
    clear: both;
    color: #777777;
    border-style: solid;
    border-color: #dddddd;
    background: #ffffff;
  }
  
  #division {
    padding: 20px;
    margin-top: 20px;
    background: #214fb3;
  }
  
  aside {
    float: left;
    width: 33%;
    height: 200px;
    padding: 20px;
    margin-left: 30px;
    background: #a6b747;
    border: 1px solid #eee;
  }
  
  footer {
    border-top: 8px solid #4aaaa5;
    padding: 20px;
    clear: both;
    background: #666666;
  }
  